* {
  margin: 0px;
  padding: 0px;
}

.s2_1 {
  position: absolute;
  width: 1024px;
  height: 768px;
  z-index: 1;
}

.s2_2 {
  position: absolute;
  left: 402px;
  top: 288px;
  width: 226px;
  height: 195px;
  animation: zoomIn 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  z-index: 5;
}

.s2_3 {
  position: absolute;
  left: 435px;
  top: 327px;
  width: 152px;
  height: 111px;
  animation: zoomIn 1s;
  animation-delay: 1s;
  animation-fill-mode: both;
  z-index: 10;
}

.s2_4 {
  position: absolute;
  left: 172px;
  top: 228px;
  width: 343px;
  height: 178px;
  animation: fadeInLeft 0.7s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s2_5 {
  position: absolute;
  left: 446px;
  top: 343px;
  width: 131px;
  height: 88px;
  animation: zoomIn 1s;
  animation-delay: 2.5s;
  animation-fill-mode: both;
  z-index: 10;
}

.s2_6 {
  position: absolute;
  left: 524px;
  top: 218px;
  width: 393px;
  height: 188px;
  animation: fadeInRight 0.7s;
  animation-delay: 3s;
  animation-fill-mode: both;
  z-index: 2;
}

.s2_7 {
  position: absolute;
  width: 1024px;
  height: 768px;
  z-index: 10;
}


@keyframes flyUp {
  0% {
	transform: scale(1.5);
	  left: 664px;
	  top: 133px;
	  opacity: 0;
  }
  
  100% {
	transform: scale(1);
	  left: 838px;
      top: 14px;
	  opacity: 1;
  }
}


@keyframes rotateInFull {
  0% {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg) scale(0);
    opacity: 0;
  }

  100% {
    transform-origin: center;
	transform: rotate3d(0, 0, 1, 0deg) scale(1);
    opacity: 1;
  }
}

@keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}


@keyframes fadeInUpRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 100%, 0) scale(0) rotate3d(0, 0, 1, 0deg);
    transform: translate3d(-100%, 100%, 0) scale(0) rotate3d(0, 0, 1, 0deg);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
  }
}



@keyframes rollOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }
}


@keyframes rollOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }
}