*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.home {
	position: absolute;
  left: 936px;
  top: 0px;
  width: 144px;
  height: 181px;
	z-index: 25;
}

.s2 {
	position: absolute;
  left: 482px;
  top: 275px;
  width: 467px;
  height: 43px;
	animation: slideInRight 0.5s;
	animation-delay: 0.1s;
	animation-fill-mode: both;
	z-index: 10;
}

.s3 {
	position: absolute;
  left: 486px;
  top: 336px;
  width: 23px;
  height: 28px;
	animation: upDown 1s infinite;
	animation-delay: 0.7s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 486px;
  top: 339px;
  width: 457px;
  height: 54px;
	animation: fadeInRight 0.5s;
	animation-delay: 0.4s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 476px;
  top: 413px;
  width: 233px;
  height: 292px;
	animation: zoomIn 0.5s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 719px;
  top: 413px;
  width: 233px;
  height: 292px;
	animation: fadeInLeft 0.5s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 3;
}

.s7 {
	position: absolute;
  left: 620px;
  top: 720px;
  width: 194px;
  height: 8px;
	animation: fadeInUp 0.5s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 5;
}

@keyframes upDown {
  0% {  
	left: 486px;
	top: 331px;
	width: 23px;
	height: 29px;
	opacity: 1;
  }
  
  50% {
	left: 486px;
	top: 345px;
	width: 23px;
	height: 29px;
	opacity: 1;
  }
  
  100% {  
	left: 486px;
	top: 331px;
	width: 23px;
	height: 29px;
	opacity: 1;
  }
}