*{
	margin: 0px;
	padding: 0px;
}

.hit_1, .hit_2  {
  position: absolute;
  width: 1080px;
  height: 810px;
  display: none;
  z-index: 30;
}

.hit_pop1 {
  position: absolute;
  left: 0px;
  top: 185px;
  width: 528px;
  height: 625px;
  z-index: 20;
}

.hit_pop2 {
	position: absolute;
  left: 528px;
  top: 185px;
  width: 552px;
  height: 625px;
  z-index: 20;
}

.hit_close1 {
  position: absolute;
  width: 1080px;
  height: 810px;
  display: none;
  z-index: 40;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 245px;
  top: 32px;
  width: 591px;
  height: 136px;
	animation: zoomIn 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 85px;
  top: 218px;
  width: 429px;
  height: 109px;
	animation: fadeInUp 0.5s;
	animation-delay: 0.7s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 26px;
  top: 390px;
  width: 459px;
  height: 381px;
	animation: zoomIn 0.5s;
	animation-delay: 0.7s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 588px;
  top: 218px;
  width: 422px;
  height: 116px;
	animation: fadeInUp 0.5s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 594px;
  top: 390px;
  width: 381px;
  height: 386px;
	animation: zoomIn 0.5s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 5;
}

.s7 {
	position: absolute;
  left: 934px;
  top: 364px;
  width: 71px;
  height: 72px;
	animation: flashLong 3s infinite;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 10;
}

@keyframes pulseBig {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(0.7, 0.7, 0.7);
    transform: scale3d(0.7, 0.7, 0.7);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes slideInDownBig {
  from {
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes flashLong {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes zoomInLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-120%, 0, 0);
    transform: translate3d(-120%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}