*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
  position: absolute;
  left: 28px;
  top: 30px;
  width: 432px;
  height: 120px;
	animation: fadeInRight 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3 {
	position: absolute;
  left: 27px;
  top: 187px;
  width: 747px;
  height: 57px;
	animation: fadeInLeft 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 50px;
  top: 265px;
  width: 980px;
  height: 486px;
	animation: zoomIn 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 71px;
  top: 353px;
  width: 236px;
  height: 162px;
	animation: zoomIn 0.5s;
	animation-delay: 0.8s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 306px;
  top: 313px;
  width: 208px;
  height: 193px;
	animation: zoomIn 0.5s;
	animation-delay: 0.9s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 10;
}

.s7 {
	position: absolute;
  left: 569px;
  top: 315px;
  width: 224px;
  height: 191px;
	animation: zoomIn 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 5;
}

.s8 {
	position: absolute;
  left: 801px;
  top: 328px;
  width: 205px;
  height: 183px;
	animation: zoomIn 0.5s;
	animation-delay: 1.1s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 5;
}

.s9 {
	position: absolute;
  left: 157px;
  top: 566px;
  width: 218px;
  height: 184px;
	animation: zoomIn 0.5s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 5;
}

.s10 {
	position: absolute;
  left: 434px;
  top: 566px;
  width: 214px;
  height: 189px;
	animation: zoomIn 0.5s;
	animation-delay: 1.3s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 5;
}

.s11 {
	position: absolute;
  left: 714px;
  top: 552px;
  width: 237px;
  height: 197px;
	animation: zoomIn 0.5s;
	animation-delay: 1.4s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 5;
}

.spot1 {
	position: absolute;
  left: 565px;
  top: 0px;
  width: 70px;
  height: 75px;
	z-index: 12;
}

.spot2 {
	position: absolute;
  left: 635px;
  top: 0px;
  width: 70px;
  height: 75px;
	z-index: 12;
}

.spot3 {
	position: absolute;
  left: 705px;
  top: 0px;
  width: 70px;
  height: 75px;
	z-index: 12;
}

.spot4 {
	position: absolute;
  left: 775px;
  top: 0px;
  width: 70px;
  height: 75px;
	z-index: 12;
}

.spot5 {
	position: absolute;
  left: 845px;
  top: 0px;
  width: 70px;
  height: 75px;
	z-index: 12;
}

.spot6 {
	position: absolute;
  left: 918px;
  top: 0px;
  width: 70px;
  height: 75px;
	z-index: 12;
}

.spot7 {
	position: absolute;
  left: 994px;
  top: 0px;
  width: 70px;
  height: 75px;
	z-index: 12;
}


@keyframes flashLongOn {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes zoomInLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes revealVerticalDown {
  0% {
    clip: rect(0px,600px,0px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,600px,700px,0px);
	opacity: 1;
  }
}