*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.home {
	position: absolute;
  left: 936px;
  top: 0px;
  width: 144px;
  height: 181px;
	z-index: 25;
}

.s2 {
	position: absolute;
  left: 397px;
  top: 272px;
  width: 599px;
  height: 37px;
	animation: slideInUp 0.5s;
	animation-delay: 0.1s;
	animation-fill-mode: both;
	z-index: 10;
}

.s3 {
	position: absolute;
  left: 406px;
  top: 344px;
  width: 166px;
  height: 187px;
	animation: backInRight 0.5s;
	animation-delay: 0.6s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 614px;
  top: 343px;
  width: 157px;
  height: 188px;
	animation: backInRight 0.5s;
	animation-delay: 0.7s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 810px;
  top: 343px;
  width: 171px;
  height: 186px;
	animation: backInRight 0.5s;
	animation-delay: 0.9s;
	animation-fill-mode: both;
	z-index: 10;
}

.s6 {
	position: absolute;
  left: 481px;
  top: 536px;
  width: 423px;
  height: 66px;
	animation: revealVerticalDown 1s;
	animation-delay: 1.4s;
	animation-fill-mode: both;
	clip: rect(0px,430px,0px,0px);
	z-index: 5;
}

.s7 {
	position: absolute;
  left: 403px;
  top: 615px;
  width: 168px;
  height: 78px;
	animation: zoomIn 0.5s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s8 {
	position: absolute;
  left: 613px;
  top: 615px;
  width: 157px;
  height: 78px;
	animation: zoomIn 0.5s;
	animation-delay: 2.1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s9 {
	position: absolute;
  left: 810px;
  top: 616px;
  width: 171px;
  height: 78px;
	animation: zoomIn 0.5s;
	animation-delay: 2.2s;
	animation-fill-mode: both;
	z-index: 5;
}

@keyframes revealVerticalDown {
  0% {
    clip: rect(0px,430px,0px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,430px,70px,0px);
	opacity: 1;
  }
}