* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.popup {
  position: absolute;
  width: 1024px;
  height: 768px;
  display: none;
  z-index: 15;
}

.pop_open {
	position: absolute;
  right: 0px;
  bottom: 0px;
  width: 150px;
  height: 100px;
	z-index: 10;
}

.pop_close {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}