*{
	margin: 0px;
	padding: 0px;
}

video {
  position: absolute;
  left: 340px;
  top: 297px;
  width: 704px;
  height: 396px;
  z-index: 82;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
  position: absolute;
  left: 27px;
  top: 29px;
  width: 434px;
  height: 122px;
	animation: fadeInRight 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3 {
	position: absolute;
  left: 29px;
  top: 153px;
  width: 573px;
  height: 148px;
	animation: fadeInLeft 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 611px;
  top: 69px;
  width: 469px;
  height: 682px;
	animation: fadeInRight 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 422px;
  top: 309px;
  width: 232px;
  height: 520px;
	animation: zoomIn 0.5s;
	animation-delay: 0.7s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 10;
}

.s6 {
	position: absolute;
  left: 30px;
  top: 365px;
  width: 386px;
  height: 81px;
	animation: fadeInRight 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s7 {
	position: absolute;
  left: 23px;
  top: 491px;
  width: 371px;
  height: 81px;
	animation: fadeInRight 0.5s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.spot1 {
	position: absolute;
  left: 565px;
  top: 0px;
  width: 70px;
  height: 75px;
	z-index: 12;
}

.spot2 {
	position: absolute;
  left: 635px;
  top: 0px;
  width: 70px;
  height: 75px;
	z-index: 12;
}

.spot3 {
	position: absolute;
  left: 705px;
  top: 0px;
  width: 70px;
  height: 75px;
	z-index: 12;
}

.spot4 {
	position: absolute;
  left: 775px;
  top: 0px;
  width: 70px;
  height: 75px;
	z-index: 12;
}

.spot5 {
	position: absolute;
  left: 845px;
  top: 0px;
  width: 70px;
  height: 75px;
	z-index: 12;
}

.spot6 {
	position: absolute;
  left: 918px;
  top: 0px;
  width: 70px;
  height: 75px;
	z-index: 12;
}

.spot7 {
	position: absolute;
  left: 994px;
  top: 0px;
  width: 70px;
  height: 75px;
	z-index: 12;
}


@keyframes flashLongOn {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes zoomInLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes revealVerticalDown {
  0% {
    clip: rect(0px,600px,0px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,600px,700px,0px);
	opacity: 1;
  }
}