*{
	margin: 0px;
	padding: 0px;
}

.s1_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s1_2 {
	position: absolute;
  left: 560px;
  top: 260px;
  width: 320px;
  height: 55px;
	animation: fadeInDown 0.5s;
	animation-delay: 0.1s;
	animation-fill-mode: both;
	z-index: 4;
}

.s1_3 {
	position: absolute;
  left: 630px;
  top: 330px;
  width: 180px;
  height: 50px;
	animation: fadeInUp 0.5s;
	animation-delay: 0.1s;
	animation-fill-mode: both;
	z-index: 3;
}

.s1_4 {
	position: absolute;
  left: 405px;
  top: 457px;
  width: 593px;
  height: 78px;
	animation: fadeInRight 0.5s;
	animation-delay: 0.6s;
	animation-fill-mode: both;
	z-index: 2;
}

.s1_5 {
	position: absolute;
  left: 418px;
  top: 469px;
  width: 283px;
  height: 54px;
	animation: fadeInRight 1s;
	animation-delay: 0.6s;
	animation-fill-mode: both;
	z-index: 2;
}

.s1_6 {
	position: absolute;
  left: 708px;
  top: 467px;
  width: 282px;
  height: 56px;
	animation: flashLong 3s infinite;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 2;
}

.s1_7 {
	position: absolute;
  left: 82px;
  top: 366px;
  width: 883px;
  height: 140px;
	animation: fadeInDown 1s;
	animation-delay: 4s;
	animation-fill-mode: both;
	z-index: 2;
}

.s1_8 {
	position: absolute;
  left: 516px;
  top: 321px;
  width: 144px;
  height: 94px;
	animation: pulse 1s infinite;
	animation-delay: 4.5s;
	animation-fill-mode: both;
	opacity: 0;
	z-index: 2;
}

.s1_9 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 10;
}

.s1_pop1 {
	position: absolute;
	height: 100px;
	width: 150px;
	right: 0px;
	bottom: 0px;
	z-index: 15;
}

.s1_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmallSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}