*{
	margin: 0px;
	padding: 0px;
}

.spot1 {
	position: absolute;
  left: 500px;
  top: 0px;
  width: 114px;
  height: 46px;
	z-index: 12;
}

.spot2 {
	position: absolute;
  left: 616px;
  top: 0px;
  width: 114px;
  height: 46px;
	z-index: 12;
}

.spot3 {
	position: absolute;
  left: 731px;
  top: 0px;
  width: 114px;
  height: 46px;
	z-index: 12;
}

.spot4 {
	position: absolute;
  left: 846px;
  top: 0px;
  width: 114px;
  height: 46px;
	z-index: 10;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
  position: absolute;
  left: 45px;
  top: 38px;
  width: 540px;
  height: 180px;
	animation: fadeInRight 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3 {
	position: absolute;
  left: 45px;
  top: 256px;
  width: 355px;
  height: 277px;
	animation: zoomIn 0.5s;
	animation-delay: 0.7s;
	animation-fill-mode: both;
	transform-origin: bottom right;
	z-index: 2;
}

.s4 {
	position: absolute;
  left: 405px;
  top: 256px;
  width: 269px;
  height: 221px;
	animation: zoomIn 0.5s;
	animation-delay: 0.8s;
	animation-fill-mode: both;
	transform-origin: bottom left;
	z-index: 3;
}

.s5 {
	position: absolute;
  left: 45px;
  top: 536px;
  width: 355px;
  height: 198px;
	animation: zoomIn 0.5s;
	animation-delay: 0.9s;
	animation-fill-mode: both;
	transform-origin: top right;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 405px;
  top: 482px;
  width: 269px;
  height: 251px;
	animation: zoomIn 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	transform-origin: top left;
	z-index: 5;
}

.s7 {
	position: absolute;
  left: 598px;
  top: 350px;
  width: 169px;
  height: 416px;
	animation: zoomIn 0.5s;
	animation-delay: 2.1s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 7;
}

.s8 {
	position: absolute;
  left: 746px;
  top: 420px;
  width: 114px;
  height: 340px;
	animation: zoomIn 0.5s;
	animation-delay: 2.2s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 8;
}

.s9 {
	position: absolute;
  left: 841px;
  top: 419px;
  width: 115px;
  height: 340px;
	animation: zoomIn 0.5s;
	animation-delay: 2.3s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 9;
}

.s10 {
	position: absolute;
  left: 941px;
  top: 418px;
  width: 115px;
  height: 340px;
	animation: zoomIn 0.5s;
	animation-delay: 2.4s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 10;
}


@keyframes flashLong {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes zoomInLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes revealHorizontal {
  0% {
    clip: rect(0px,0px,15px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,600px,15px,0px);
	opacity: 1;
  }
}