*{
	margin: 0px;
	padding: 0px;
}

.video {
	position: absolute;
  left: 375px;
  top: 641px;
  width: 136px;
  height: 119px;
	z-index: 25;
}

.s1 {
	position: absolute;
	width: 1280px;
	height: 726px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 567px;
  top: 0px;
  width: 513px;
  height: 810px;
	animation: slideInRight 0.5s;
	animation-delay: 0.1s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3 {
	position: absolute;
  left: 530px;
  top: 253px;
  width: 190px;
  height: 538px;
	animation: slideInRight 0.5s;
	animation-delay: 0.3s;
	animation-fill-mode: both;
	z-index: 2;
}

.s4 {
	position: absolute;
  left: 62px;
  top: 271px;
  width: 244px;
  height: 117px;
	animation: zoomIn 0.5s;
	animation-delay: 0.9s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 0px;
  top: 472px;
  width: 516px;
  height: 143px;
	animation: fadeInLeft 0.5s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 416px;
  top: 672px;
  width: 60px;
  height: 60px;
	animation: pulse 1s infinite;
	animation-delay: 1.8s;
	animation-fill-mode: both;
	z-index: 5;
}

.s7 {
	position: absolute;
  left: 419px;
  top: 569px;
  width: 248px;
  height: 44px;
	animation: fadeInUp 0.5s;
	animation-delay: 2.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s8 {
	position: absolute;
  left: 770px;
  top: 330px;
  width: 286px;
  height: 230px;
	animation: zoomIn 0.5s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s9 {
	position: absolute;
  left: 753px;
  top: 569px;
  width: 282px;
  height: 44px;
	animation: fadeInUp 0.5s;
	animation-delay: 3.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s10 {
	position: absolute;
  left: 23px;
  top: 730px;
  width: 1034px;
  height: 65px;
	animation: none 0.5s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 5;
}


@keyframes flashLong {
  0%, 40%, 80%   {
    opacity: 0;
  }

  20%, 60%, 100% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes zoomInLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}