*{
	margin: 0px;
	padding: 0px;
}

.home {
	position: absolute;
  left: 940px;
  top: 0px;
  width: 140px;
  height: 140px;
	z-index: 90;
}

.posology {
  position: absolute;
  left: 890px;
  top: 718px;
  width: 190px;
  height: 50px;
  z-index: 306;
}

.hand {
  position: absolute;
  left: 1029px;
  top: 453px;
  width: 42px;
  height: 34px;
  	animation: flashLong 1s infinite;
	animation-delay: 2.2s;
	animation-fill-mode: both;
  z-index: 30;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
  position: absolute;
  left: 39px;
  top: 28px;
  width: 601px;
  height: 109px;
	animation: fadeInRight 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3 {
	position: absolute;
  left: 131px;
  top: 229px;
  width: 278px;
  height: 506px;
	animation: zoomIn 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 591px;
  top: 176px;
  width: 429px;
  height: 23px;
	animation: fadeInUp 0.5s;
	animation-delay: 0.7s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 594px;
  top: 221px;
  width: 423px;
  height: 479px;
	animation: zoomIn 0.5s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 609px;
  top: 652px;
  width: 57px;
  height: 39px;
	animation: fadeInRight 0.5s;
	animation-delay: 1.7s;
	animation-fill-mode: both;
	z-index: 15;
}

.pop {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1080px;
	height: 810px;
	display: none;
	z-index: 120;
}

.popUp {
  position: absolute;
  left: 589px;
  top: 215px;
  width: 434px;
  height: 490px;
  z-index: 100;
}


@keyframes stampIn {
	0%	{
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0;
	}
	100%	{
		transform: scale(1);
		opacity: 1;
	}
}


@keyframes flashLong {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes zoomInLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}