*{
	margin: 0px;
	padding: 0px;
}

.home {
	position: absolute;
  left: 940px;
  top: 0px;
  width: 140px;
  height: 140px;
	z-index: 90;
}

.hand {
  position: absolute;
  left: 1033px;
  top: 578px;
  width: 42px;
  height: 34px;
  	animation: flashLong 1s infinite;
	animation-delay: 3.5s;
	animation-fill-mode: both;
  z-index: 30;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
  position: absolute;
  left: 39px;
  top: 28px;
  width: 601px;
  height: 109px;
	animation: fadeInRight 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3 {
	position: absolute;
  left: 282px;
  top: 386px;
  width: 115px;
  height: 321px;
	animation: zoomIn 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 489px;
  top: 179px;
  width: 540px;
  height: 88px;
	animation: fadeInUp 0.5s;
	animation-delay: 0.7s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 512px;
  top: 286px;
  width: 136px;
  height: 76px;
	animation: zoomIn 0.5s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 695px;
  top: 286px;
  width: 140px;
  height: 76px;
	animation: zoomIn 0.5s;
	animation-delay: 1.4s;
	animation-fill-mode: both;
	z-index: 15;
}

.s7 {
	position: absolute;
  left: 873px;
  top: 286px;
  width: 150px;
  height: 75px;
	animation: zoomIn 0.5s;
	animation-delay: 1.6s;
	animation-fill-mode: both;
	z-index: 20;
}

.s8 {
  position: absolute;
  left: 489px;
  top: 396px;
  width: 540px;
  height: 46px;
	animation: fadeInUp 0.5s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 30;
}

.s9 {
  position: absolute;
  left: 489px;
  top: 464px;
  width: 170px;
  height: 119px;
	animation: backInRight 0.5s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 30;
}

.s10 {
  position: absolute;
  left: 677px;
  top: 464px;
  width: 170px;
  height: 119px;
	animation: backInRight 0.5s;
	animation-delay: 2.6s;
	animation-fill-mode: both;
	z-index: 30;
}

.s11 {
  position: absolute;
  left: 860px;
  top: 464px;
  width: 169px;
  height: 119px;
	animation: backInRight 0.5s;
	animation-delay: 2.7s;
	animation-fill-mode: both;
	z-index: 30;
}

.s12 {
  position: absolute;
  left: 489px;
  top: 595px;
  width: 170px;
  height: 120px;
	animation: backInRight 0.5s;
	animation-delay: 2.8s;
	animation-fill-mode: both;
	z-index: 30;
}

.s13 {
  position: absolute;
  left: 677px;
  top: 595px;
  width: 170px;
  height: 120px;
	animation: backInRight 0.5s;
	animation-delay: 2.9s;
	animation-fill-mode: both;
	z-index: 30;
}

.s14 {
  position: absolute;
  left: 860px;
  top: 594px;
  width: 170px;
  height: 120px;
	animation: backInRight 0.5s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 30;
}

.pop {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1080px;
	height: 810px;
	display: none;
	z-index: 120;
}

.popUp {
  position: absolute;
  left: 482px;
  top: 390px;
  width: 554px;
  height: 331px;
  z-index: 100;
}


@keyframes stampIn {
	0%	{
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0;
	}
	100%	{
		transform: scale(1);
		opacity: 1;
	}
}


@keyframes flashLong {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes zoomInLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}