*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
  position: absolute;
  left: 39px;
  top: 31px;
  width: 880px;
  height: 106px;
	animation: fadeInRight 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3 {
	position: absolute;
  left: 59px;
  top: 254px;
  width: 207px;
  height: 479px;
	animation: zoomIn 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 227px;
  top: 320px;
  width: 145px;
  height: 406px;
	animation: zoomIn 0.5s;
	animation-delay: 0.4s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 644px;
  top: 281px;
  width: 279px;
  height: 35px;
	animation: fadeInUp 0.5s;
	animation-delay: 0.9s;
	animation-fill-mode: both;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 566px;
  top: 367px;
  width: 143px;
  height: 126px;
	animation: zoomIn 0.5s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s7 {
	position: absolute;
  left: 531px;
  top: 512px;
  width: 245px;
  height: 57px;
	animation: fadeInUp 0.5s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	z-index: 10;
}

.s8 {
	position: absolute;
  left: 868px;
  top: 372px;
  width: 159px;
  height: 112px;
	animation: zoomIn 0.5s;
	animation-delay: 1.4s;
	animation-fill-mode: both;
	z-index: 5;
}

.s9 {
	position: absolute;
  left: 840px;
  top: 513px;
  width: 223px;
  height: 54px;
	animation: fadeInUp 0.5s;
	animation-delay: 1.4s;
	animation-fill-mode: both;
	z-index: 5;
}


@keyframes revealVerticalUp {
  0% {
    clip: rect(160px,270px,160px,0px);
  }
  
  100% {
    clip: rect(0px,270px,160px,0px);
  }
}

@keyframes flashLongOn {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes revealHorizontal {
  0% {
    clip: rect(0px,0px,125px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,315px,125px,0px);
	opacity: 1;
  }
}


@keyframes zoomInLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes pulseBig {
  0% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }

  50% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  100% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }
}