*{
	margin: 0px;
	padding: 0px;
}

.study {
  position: absolute;
  left: 801px;
  top: 710px;
  width: 123px;
  height: 49px;
  z-index: 15;
}

.posology {
  position: absolute;
  left: 878px;
  top: 705px;
  width: 202px;
  height: 56px;
  z-index: 15;
}

.bar {
  position: absolute;
  left: 4px;
  top: 299px;
  width: 1052px;
  height: 504px;
  z-index: 10;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
  position: absolute;
  left: 27px;
  top: 29px;
  width: 434px;
  height: 122px;
	animation: fadeInRight 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3 {
	position: absolute;
  left: 29px;
  top: 153px;
  width: 681px;
  height: 129px;
	animation: fadeInLeft 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 293px;
  top: 402px;
  width: 189px;
  height: 423px;
	animation: zoomIn 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 10;
}

.s5 {
	position: absolute;
  left: 486px;
  top: 310px;
  width: 581px;
  height: 38px;
	animation: fadeInUp 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 512px;
  top: 411px;
  width: 408px;
  height: 79px;
	animation: fadeInRight 0.5s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	z-index: 10;
}

.s7 {
	position: absolute;
  left: 517px;
  top: 541px;
  width: 385px;
  height: 70px;
	animation: fadeInRight 0.5s;
	animation-delay: 1.4s;
	animation-fill-mode: both;
	z-index: 5;
}

.spot1 {
	position: absolute;
  left: 565px;
  top: 0px;
  width: 70px;
  height: 75px;
	z-index: 12;
}

.spot2 {
	position: absolute;
  left: 635px;
  top: 0px;
  width: 70px;
  height: 75px;
	z-index: 12;
}

.spot3 {
	position: absolute;
  left: 705px;
  top: 0px;
  width: 70px;
  height: 75px;
	z-index: 12;
}

.spot4 {
	position: absolute;
  left: 775px;
  top: 0px;
  width: 70px;
  height: 75px;
	z-index: 12;
}

.spot5 {
	position: absolute;
  left: 845px;
  top: 0px;
  width: 70px;
  height: 75px;
	z-index: 12;
}

.spot6 {
	position: absolute;
  left: 918px;
  top: 0px;
  width: 70px;
  height: 75px;
	z-index: 12;
}

.spot7 {
	position: absolute;
  left: 994px;
  top: 0px;
  width: 70px;
  height: 75px;
	z-index: 12;
}


@keyframes flashLongOn {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes zoomInLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes revealVerticalDown {
  0% {
    clip: rect(0px,600px,0px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,600px,700px,0px);
	opacity: 1;
  }
}