*{
	margin: 0px;
	padding: 0px;
}

.posology {
  position: absolute;
  left: 878px;
  top: 705px;
  width: 202px;
  height: 56px;
  z-index: 15;
}

.bar {
  position: absolute;
  left: 24px;
  top: 720px;
  width: 1032px;
  height: 83px;
  z-index: 10;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
  position: absolute;
  left: 28px;
  top: 30px;
  width: 432px;
  height: 120px;
	animation: fadeInRight 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3 {
	position: absolute;
  left: 25px;
  top: 172px;
  width: 531px;
  height: 80px;
	animation: fadeInLeft 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 145px;
  top: 368px;
  width: 339px;
  height: 466px;
	animation: zoomIn 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 469px;
  top: 288px;
  width: 582px;
  height: 40px;
	animation: fadeInUp 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 477px;
  top: 361px;
  width: 265px;
  height: 253px;
	animation: fadeInRight 0.5s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	z-index: 10;
}

.s7 {
	position: absolute;
  left: 771px;
  top: 360px;
  width: 293px;
  height: 254px;
	animation: fadeInRight 0.5s;
	animation-delay: 1.4s;
	animation-fill-mode: both;
	z-index: 5;
}

.spot1 {
	position: absolute;
  left: 565px;
  top: 0px;
  width: 70px;
  height: 75px;
	z-index: 12;
}

.spot2 {
	position: absolute;
  left: 635px;
  top: 0px;
  width: 70px;
  height: 75px;
	z-index: 12;
}

.spot3 {
	position: absolute;
  left: 705px;
  top: 0px;
  width: 70px;
  height: 75px;
	z-index: 12;
}

.spot4 {
	position: absolute;
  left: 775px;
  top: 0px;
  width: 70px;
  height: 75px;
	z-index: 12;
}

.spot5 {
	position: absolute;
  left: 845px;
  top: 0px;
  width: 70px;
  height: 75px;
	z-index: 12;
}

.spot6 {
	position: absolute;
  left: 918px;
  top: 0px;
  width: 70px;
  height: 75px;
	z-index: 12;
}

.spot7 {
	position: absolute;
  left: 994px;
  top: 0px;
  width: 70px;
  height: 75px;
	z-index: 12;
}


@keyframes flashLongOn {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes zoomInLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes revealVerticalDown {
  0% {
    clip: rect(0px,600px,0px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,600px,700px,0px);
	opacity: 1;
  }
}