*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1280px;
	height: 726px;
	z-index: 1;
}

.video {
	position: absolute;
  left: 881px;
  top: 58px;
  width: 133px;
  height: 135px;
	z-index: 25;
}

.s2 {
	position: absolute;
  left: 198px;
  top: 414px;
  width: 197px;
  height: 195px;
	animation: zoomIn 0.5s;
	animation-delay: 0.1s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3 {
	position: absolute;
  left: 618px;
  top: 414px;
  width: 330px;
  height: 199px;
	animation: zoomIn 0.5s;
	animation-delay: 0.3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 918px;
  top: 95px;
  width: 60px;
  height: 60px;
	animation: pulse 1s infinite;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 5;
}